.vs/NopCommerce/config
.vs/NopCommerce/DesignTimeBuild
.vs/NopCommerce/v17
.vs/ProjectEvaluation
.vs/NopCommerce/FileContentIndex
Libraries/Nop.Core/bin
Libraries/Nop.Core/obj
Libraries/Nop.Data/bin
Libraries/Nop.Data/obj
Libraries/Nop.Services/bin
Plugins/InfiniteScroll-main/obj
Plugins/Nop.Plugin.DiscountRules.CustomerRoles/obj
Plugins/Nop.Plugin.ExchangeRate.EcbExchange/obj
Plugins/Nop.Plugin.ExternalAuth.Facebook/obj
Plugins/Nop.Plugin.Misc.Sendinblue/obj
Plugins/Nop.Plugin.Misc.WebApi.Frontend/obj
Plugins/Nop.Plugin.Misc.Zettle/obj
Plugins/Nop.Plugin.MultiFactorAuth.GoogleAuthenticator/obj
Plugins/Nop.Plugin.Payments.CheckMoneyOrder/obj
Plugins/Nop.Plugin.Payments.CyberSource/obj
Plugins/Nop.Plugin.Payments.Manual/obj
Plugins/Nop.Plugin.Payments.PayPalCommerce/obj
Plugins/Nop.Plugin.Pickup.PickupInStore/obj
Plugins/Nop.Plugin.Shipping.UPS/obj
Libraries/Nop.Services/obj
Presentation/Nop.Web/bin
Presentation/Nop.Web.Framework/bin
Tests/Nop.Tests/bin
Tests/Nop.Tests/obj
Presentation/Nop.Web.Framework/obj
.vs
Plugins/Nop.Plugin.Shipping.FixedByWeightByTotal/obj
Plugins/Nop.Plugin.Tax.Avalara/obj
Plugins/Nop.Plugin.Tax.FixedOrByCountryStateZip/obj
Plugins/Nop.Plugin.Widgets.FacebookPixel/obj
Plugins/Nop.Plugin.Widgets.GoogleAnalytics/obj
Plugins/Nop.Plugin.Widgets.NivoSlider/obj
Plugins/Nop.Plugin.Widgets.What3words/obj
Presentation/Nop.Web/obj
Presentation/Nop.Web/obj
Presentation/Nop.Web/obj
Presentation/Nop.Web/obj/Debug
Presentation/Nop.Web/Plugins/DiscountRules.CustomerRoles
Presentation/Nop.Web/Plugins/ExchangeRate.EcbExchange
Presentation/Nop.Web/Plugins/ExternalAuth.Facebook
Presentation/Nop.Web/Plugins/Misc.Sendinblue
Presentation/Nop.Web/Plugins/Misc.WebApi.Frontend
Presentation/Nop.Web/Plugins/Misc.Zettle
Presentation/Nop.Web/Plugins/MultiFactorAuth.GoogleAuthenticator
Presentation/Nop.Web/Plugins/NopPlus.InfiniteScroll
Presentation/Nop.Web/Plugins/Payments.CheckMoneyOrder
Presentation/Nop.Web/Plugins/Payments.CyberSource
Presentation/Nop.Web/Plugins/Payments.Manual
Presentation/Nop.Web/Plugins/Payments.PayPalCommerce
Presentation/Nop.Web/Plugins/Pickup.PickupInStore
Presentation/Nop.Web/Plugins/Shipping.FixedByWeightByTotal
Presentation/Nop.Web/Plugins/Shipping.UPS
Presentation/Nop.Web/Plugins/Tax.Avalara
Presentation/Nop.Web/Plugins/Tax.FixedOrByCountryStateZip
Presentation/Nop.Web/Plugins/Widgets.FacebookPixel
Presentation/Nop.Web/Plugins/Widgets.GoogleAnalytics
Presentation/Nop.Web/Plugins/Widgets.NivoSlider
Presentation/Nop.Web/Plugins/Widgets.What3words
