.vs/NopCommerce/config
.vs/NopCommerce/DesignTimeBuild
.vs/NopCommerce/v17
.vs/ProjectEvaluation
.vs/NopCommerce/FileContentIndex
Libraries/Nop.Core/bin
Libraries/Nop.Core/obj
Libraries/Nop.Data/bin
Libraries/Nop.Data/obj
Libraries/Nop.Services/bin
Plugins/InfiniteScroll-main/obj
Plugins/Nop.Plugin.DiscountRules.CustomerRoles/obj
Plugins/Nop.Plugin.ExchangeRate.EcbExchange/obj
Plugins/Nop.Plugin.ExternalAuth.Facebook/obj
Plugins/Nop.Plugin.Misc.Sendinblue/obj
Plugins/Nop.Plugin.Misc.WebApi.Frontend/obj
Plugins/Nop.Plugin.Misc.Zettle/obj
Plugins/Nop.Plugin.MultiFactorAuth.GoogleAuthenticator/obj
Plugins/Nop.Plugin.Payments.CheckMoneyOrder/obj
Plugins/Nop.Plugin.Payments.CyberSource/obj
Plugins/Nop.Plugin.Payments.Manual/obj
Plugins/Nop.Plugin.Payments.PayPalCommerce/obj
Plugins/Nop.Plugin.Pickup.PickupInStore/obj
Plugins/Nop.Plugin.Shipping.UPS/obj
Libraries/Nop.Services/obj
Presentation/Nop.Web/bin
Presentation/Nop.Web.Framework/bin
Tests/Nop.Tests/bin
Tests/Nop.Tests/obj
Presentation/Nop.Web.Framework/obj
.vs
